body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #8b8381;
    color: #333;
    text-align: center;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 1.5rem;
    padding: 1.5rem;
    width		: 500px;
    margin-top: 50px;
    margin-left: 200px;
}
.campos {
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}
.btn-agregar {
    border-style: none;
    color: white;
    border-radius: 2px;
    background-color: #5070ff;
}
.btn-modificar {
    border-style: none;
    color: white;
    border-radius: 2px;
    background-color: #4ec963;
}
.btn-eliminar {
    border-style: none;
    color: white;
    border-radius: 2px;
    background-color: #ff5053
}
.btn-limpiar {
    border-style: none;
    color: white;
    border-radius: 2px;
    background-color: #e6db73
}
/* select {
    width: 100%;
} */
.listado select {
    width: 80%;
    margin-bottom: 20px;
}
.listado-texto {
    width: 80%;
}

.listado table {
    width: 60%;
    margin-bottom: 20px;
}
table, th {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    text-align: center;
}
.id {
    text-align: center;
}

.logo img {
    height: 300px;
}