body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #fffaf5;
    color: #333;
}
header {
    background-color: #e67e22;
    color: white;
    padding: 1rem;
    text-align: center;
}
.menu-contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 1.5rem;
    padding: 1.5rem;
}
.menu-seccion {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.menu-seccion img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.menu-seccion h2 {
    margin: 0;
    background: #f39c12;
    color: white;
    padding: 0.5rem 1rem;
}
.menu-seccion ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
}
.menu-seccion li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}
.precio {
    color: #999;
}
form {
    margin: 0, auto;
    width: fit-content;
}
form .campos {
    display: grid;
    grid-template-columns: auto, auto;
    gap: 5px;
    margin-top: 20px;
}
form .botones {
    margin: 10px;
}
input {
    text-align: center;
}
.btn-agregar {
    border-style: none;
    color: white;
    border-radius: 5px;
    background-color: #e67e22;
    padding: 5px;
}
.btn-limpiar {
    border-style: none;
    color: white;
    border-radius: 5px;
    background-color: #1981dd;
    padding: 5px;
}
form select {
    width: 100%;
}
.listado select {
    width: 60%;
    margin-bottom: 20px;
}
.img-mini {
    height: 100px !important;
    width: 100% !important;
}