@page
@model Prueba_AspNet.Pages.PageArticulo.AgregarModel
@{
}
<div class="text-left">
    <h1 class="display-4">Agregar</h1>
    <form method="post">
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" id="id" name="Id" readonly class="form-control" asp-for="id"/>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" />
        </div>
        <div class="form-group">
            <label for="eunep">Rubro:</label>
            <input type="text" id="rubro" name="rubro" class="form-control" />
        </div>
        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="text" id="precio" name="precio" class="form-control" />
        </div>
        <div class="form-group">
            <label for="stock">Stock:</label>
            <input type="number" id="stock" name="stock" class="form-control" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary"
                asp-page-handler="Agregar">
            Agregar
        </button>
    </form>
    @if (!string.IsNullOrEmpty(Model.Mensaje))
    {
        <div class="alert alert-warning" role="alert">
            @Model.Mensaje
        </div>
    }
</div>