@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> ASP.NET </h1>
    <br />
    <img class="img-fluid" style="max-width: 60%; "/>
</div>
