body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #fffaf5;
    color: #333;
}
header {
    background-color: #0A112A;
    display: flex;
    align-items: center;
    height: 150px;
}
header a {
    color: white;
    font-size: 20px;
}
.contenedor {
    margin-top:4%;
    padding: 30px;
    padding-top: 5px;
    border-radius: 20px;
    background-color: bisque;
    margin: 0, auto;
    width: fit-content;
    box-shadow: #0005
}
.contenedor a {
    margin: 100px;
}
.campos {
    display: grid;
    grid-template-columns: auto, auto;
    gap: 5px;
    margin-top: 20px;
}
.botones {
    margin: 10px;
}
input {
    font-size: large;
    text-align: center;
}
.btn {
    border-style: none;
    color: white !important;
    border-radius: 5px;
    padding: 5px;
    font-size: x-large;
}
#btn-agregar {
    background-color: green;
}
#btn-limpiar {
    background-color: rgb(216, 216, 13);
}
#btn-eliminar{
    background-color: red;
}
#btn-modificar {    
    background-color: blue;
}
#btn-vista-previa {
    background-color:brown;
    margin: auto;
}
#logo {
    width: 130px;
    margin-left: 20px;
}
#imagenVistaPrevia {
    margin: auto;
}
select {
    text-align: center;
    font-size: 20px;
    width: 1000px;
}
label {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
h3 {
    font-size: 40px;
}
img {
    width: 150px;
}
ul {
    list-style: none;       
    padding: 0;
    margin: 0;
    display: flex;          
    flex-wrap: wrap;
    width: 100%;            
  }
li {
    flex: 1 0 10%;          
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}
/* .disabled {
    color: gray;
    text-decoration: none;
} */